@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css'; */

[data-aos] {
    transition-property: opacity, transform;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
  }
 #testimonial-slides {
    display: flex;
    overflow: hidden;
}

#testimonial-slides > div {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
}

#booking-calendar {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#slotModal {
  z-index: 1050; /* A high value to bring it above the calendar */
}


/* Modal Styling */
#mentorshipBookingModal .step-indicator {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #ddd;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
  color: #555;
}

#mentorshipBookingModal .step-indicator.active {
  border-color: #3490dc;
  background-color: #3490dc;
  color: #fff;
}

/* Hidden class */
.hidden {
  display: none;
}


.container {
  max-width: 90%;
}
#booking-calendar {
  height: 400px; /* Adjust based on screen size */
}

/* Booking Form styling */

#bookingFormSection {
  transition: all 0.5s ease-in-out;
}

/* .hidden {
  display: none !important;
} */

.step-indicator {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  color: #ccc;
  background: #fff;
}

.step-indicator.active {
  border-color: #007bff;
  color: #007bff;
  background: #eaf4ff;
}

/* Notification Hiddenm */
#notification-section {
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
#notification-section.hidden {
  opacity: 0;
  visibility: hidden;
}
