@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


[data-aos] {
    transition-property: opacity, transform;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
  }

  #testimonial-slides {
    display: flex;
    overflow: hidden;
}

#testimonial-slides > div {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
}
